{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link href="{% static 'Home/css/lib/flowbite.min.css' %}"  rel="stylesheet" />
    <script src="{% static 'Home/js/components/darkMode.js' %}"></script>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    {% block javascript %}
    {% endblock %}
    <script src="{% static 'Home/js/lib/flowbite.min.js' %}"></script>
    <script src="{% static 'Home/js/components/switchDarkMode.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    title: '{{ m.tags|capfirst }}',
                    text: '{{ m }}',
                    icon: '{{ m.tags }}'
                })
            </script>
        {% endfor %}
    {% endif %}
</body>
</html>