{% load countries %}
{% load widget_tweaks %}
<!-- drawer component -->
<div id="drawer-example"
     class="fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-1/2 dark:bg-gray-800"
     tabindex="-1" aria-labelledby="drawer-label">
    <h5 id="drawer-label"
        class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
        <svg class="w-5 h-5 mr-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                  clip-rule="evenodd"></path>
        </svg>
        Info
    </h5>
    <button type="button" onclick="close_modal('drawer_create')"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close menu</span>
    </button>

    <div class="body">
        <form action="{% url 'users:complete_data' user.id %}" id="create_form" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {% if user.user_type == 'company' %}
                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="{{ form.manager_name.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            {{ form.manager_name.label }}
                        </label>
                        {% render_field form.manager_name name=form.manager_name.html_name id=form.manager_name.id_for_label class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                    </div>
                    <div>
                        <label for="{{ form.manager_email.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            {{ form.manager_email.label }}
                        </label>
                        {% render_field form.manager_email name=form.manager_email.html_name id=form.manager_email.id_for_label class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                    </div>
                </div>

                <div class="mb-6">
                    <label for="{{ form.manager_phone.id_for_label }}"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        {{ form.manager_phone.label }}
                    </label>
                    {% render_field form.manager_phone name=form.manager_phone.html_name id=form.manager_phone.id_for_label class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                </div>

                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="{{ form.country.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            País donde reside
                        </label>
                        {% get_countries as countries %}
                        <select id="{{ form.country.id_for_label }}"
                                name="{{ form.country.html_name }}"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            {% for country in countries %}
                                <option value="{{ country.code }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="{{ form.city.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            {{ form.city.label }}
                        </label>
                        {% render_field form.city name=form.city.html_name id=form.city.id_for_label class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                    </div>
                </div>
            {% elif user.user_type == 'student' or user.user_type == 'teacher' %}
                <div class="mb-6">
                    <label for="{{ form.country.id_for_label }}"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        País donde reside
                    </label>
                    {% get_countries as countries %}
                    <select id="{{ form.country.id_for_label }}"
                            name="{{ form.country.html_name }}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        {% for country in countries %}
                            <option value="{{ country.code }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="grid gap-6 mb-6 md:grid-cols-2">
                    <div>
                        <label for="{{ form.birth_date.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            {{ form.birth_date.label }}
                        </label>
                        {% render_field form.birth_date name=form.birth_date.html_name id=form.birth_date.id_for_label class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                    </div>

                    <div>
                        <label for="{{ form.gender.id_for_label }}"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            {{ form.gender.label }}
                        </label>
                        {% render_field form.gender name=form.gender.html_name id=form.gender.id_for_label class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                    </div>
                </div>
            {% endif %}

            {% if user.user_type == 'student' %}
                <div class="mb-6">
                    <label for="{{ form.level.id_for_label }}"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        {{ form.level.label }}
                    </label>
                    {% render_field form.level name=form.level.html_name id=form.level.id_for_label class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
                </div>
            {% endif %}

            <div class="grid grid-cols-2 gap-4">
                <button type="button" onclick="close_modal('drawer_create')"
                        class="px-4 py-2 text-sm font-medium text-center text-gray-900 bg-white border border-gray-200 rounded-lg focus:outline-none hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Cancelar
                </button>
                <button type="submit"
                        class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Crear
                    <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>
